<div class="colors-group" ng-if="$ctrl.colors.fill.length">
  <span class="colors-group__label">Fill colors:</span>
  <spectrum-colorpicker ng-repeat="color in $ctrl.colors.fill"
                        ng-model="color.value"
                        format="'hex'"
                        ng-change="$ctrl.updateColor(color)"></spectrum-colorpicker>
</div>

<div class="colors-group" ng-if="$ctrl.colors.stroke.length">
  <span class="colors-group__label">Stroke colors:</span>
  <spectrum-colorpicker ng-repeat="color in $ctrl.colors.stroke"
                        format="'hex'"
                        ng-model="color.value"
                        ng-change="$ctrl.updateColor(color)"></spectrum-colorpicker>
</div>
