<div class="left-sidebar-block sidebar-help-panel" ng-show="$ctrl.helpVisibilityState==='ADDTEXT'">
  <i class="fa fa-lightbulb-o fa-lg"></i> Click on canvas to insert new text
</div>

<div class="left-sidebar-block sidebar-help-panel" ng-show="$ctrl.helpVisibilityState==='PAN'">
  <i class="fa fa-lightbulb-o fa-lg"></i> Click and drag your mouse to move the image around the workspace, use the mouse wheel to zoom
</div>

<div class="left-sidebar-block sidebar-help-panel" ng-show="$ctrl.helpVisibilityState==='ZOOM'">
  <i class="fa fa-lightbulb-o fa-lg"></i> Click and drag your mouse to zoom in and out
</div>

<div class="left-sidebar-block" ng-show="$ctrl.panelVisibility.text">
  <h3 class="left-sidebar-block__header">Text editor</h3>
  <text-editor></text-editor>
</div>

<div class="left-sidebar-block" ng-show="$ctrl.panelVisibility.product">
  <h3 class="left-sidebar-block__header">Product selector</h3>
  <product-select></product-select>
</div>

<div class="left-sidebar-block" ng-show="$ctrl.panelVisibility.shape">
  <shapes-pane></shapes-pane>
</div>

<div class="left-sidebar-block" ng-show="$ctrl.panelVisibility.object">
  <h3 class="left-sidebar-block__header">Object editor</h3>
  <object-editor-pane></object-editor-pane>
</div>

<div class="left-sidebar-block" ng-show="$ctrl.panelVisibility.background">
  <h3 class="left-sidebar-block__header">Background editor</h3>
  <background-editor-pane></background-editor-pane>
</div>
