<div class="image-select">

  <div class="image-select__top-panel">
    <button class="btn btn-default" ng-click="$ctrl.onCancel()">
      Back
    </button>
  </div>

  <image-upload class="image-select__upload"
                on-upload="$ctrl.onImagesUpload(uploadedImages)"
                on-cancel="$ctrl.cancel()"></image-upload>

  <div class="image-select__list">
    <div ng-repeat="img in $ctrl.imagesList track by img.id"
         class="image-select__image-thumbnail"
         ng-click="$ctrl.onSelect(img)">
      <img ng-src="{{ img.url }}" alt="img.name" />
    </div>
  </div>

</div>
