<div class="zoom-control">

  <div class="zoom-control__button" ng-click="$ctrl.decrease()">
    <i class="fa fa-minus"></i>
  </div>

  <div class="zoom-control__percentage">
    <input class="zoom-control__percentage__input"
           ng-model-options="{ 'debounce': { 'default': 500, 'blur': 0 } }"
           ng-change="$ctrl.setZoom()"
           ng-model="$ctrl.percentage"> %
  </div>

  <div class="zoom-control__button" ng-click="$ctrl.increase()">
    <i class="fa fa-plus"></i>
  </div>
</div>
