<div class="primary-nav">
  <img class="primary-nav__logo" src="http://uploads.webflow.com/5702fe66aa7b45876aa6ce1b/5703d7fca959739f43143a34_logoWhite.svg">

  <div class="primary-nav__buttons pull-right">
    <button ng-repeat="btn in $ctrl._buttons" ng-click="btn.click()" class="btn btn-default">{{btn.label}}</button>
    <button class="btn btn-link">Contact</button>
    <button class="btn btn-link">FAQs</button>
    <button class="btn btn-link">Help</button>
    <button class="btn btn-link">About</button>
  </div>
</div>