<div class="page-bottom">
  <div class="container">
    <div class="orientation-list">
    <h2>Select orientation</h2>
      <a ng-repeat="orientation in vmOrientationSelect.orientations" ng-click="vmOrientationSelect.selectOrientation(orientation)" ng-class="{isSelected: vmOrientationSelect.selectedOrientation === orientation.name}">
        <img ng-src="{{orientation.background_url}}"/>
        <div class="orientation-list__label">{{orientation.name}} ({{orientation.width}}x{{orientation.height}})</div>
      </a>
    </div>
  </div>
</div>