
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  </head>
  <body ng-app="designerApp" ng-strict-di>
    <global-spinner></global-spinner>
    <div ui-view></div>
  </body>
</html>