<div id="layer-choice" class="stack-selector" ng-class="{'isShown': shown}">
    <a href="" class="btn btn-default btn-xs btn-block" ng-click="setStackPosition('bringToFront')"><img style="width: 12px" src="../../../../assets/images/icons/Shape-Move-Front.png" /> Bring to front
    </a>
    <a href="" class="btn btn-default btn-xs btn-block" ng-click="setStackPosition('sendBackwards')"><img style="width: 12px" src="../../../../assets/images/icons/Shape-Move-Forwards.png" /> Send to back
    </a>
    <a href="" class="btn btn-default btn-xs btn-block" ng-click="setStackPosition('bringForward')"><img style="width: 12px" src="../../../../assets/images/icons/Shape-Move-Front.png" /> Bring forward
    </a>
    <a href="" class="btn btn-default btn-xs btn-block" ng-click="setStackPosition('sendToBack')"><img style="width: 12px" src="../../../../assets/images/icons/Shape-Move-Front.png" /> Send backward
    </a>
</div>
