<div class="row m-b" ng-show="$ctrl.state === $ctrl.STATES.IDLE">
  <div class="col-lg-12 col-md-12">
    <button ng-click="$ctrl.showClipartSelector()" class="btn btn-default">
      Add Clipart
    </button>
    <button ng-click="$ctrl.showImageSelector()" class="btn btn-default pull-right">
      Add Image
    </button>
  </div>
</div>

<clipart-select on-select="$ctrl.onClipartSelect(clipart)"
                on-cancel="$ctrl.onClipartSelectCancel()"
                ng-show="$ctrl.state === $ctrl.STATES.CLIPART_SELECT"></clipart-select>

<image-select on-select="$ctrl.onImageSelect(clipart)"
              on-cancel="$ctrl.onImageSelectCancel()"
              ng-show="$ctrl.state === $ctrl.STATES.IMAGE_SELECT"></image-select>
