<global-spinner></global-spinner>
<!--  Wrapper -->
<div class="page-wrapper">
    <!-- Navigation -->
    <nav class="top-nav">
        <div ng-include="'layouts/default/partials/primary-nav.html'"></div>
        <div ng-include="'layouts/default/partials/secondary-nav.html'"></div>
    </nav>
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div class="layout-container clearfix {{$state.current.name}}">
        <div class="sidebar-area">
            <div ui-view="leftSidebar"></div>
        </div>
        <div class="layout-draw-area" id="layout-draw-area">
            <!-- Main view  -->
            <div ui-view></div>
        </div>
        <!-- Footer -->
    </div>
</div>
<!-- End wrapper -->
